@model Library_CaseStudy_MVC.Models.Book

<form asp-action="Add" method="post">
    <div class="form-control">
        <label>Title</label>
        <input class="form-control" asp-for="title" />
        <span class="text-danger" asp-validation-for="title"></span>
    </div>
    <br />

    <div class="form-control">
        <label>Author</label>
        <input class="form-control" asp-for="author" />
        <span class="text-danger" asp-validation-for="author"></span>
    </div>
    <br />
    <div class="form-control">
        <label>AilableCopies</label>
        <input class="form-control" asp-for="availablecopiesnum" />
            <span class="text-danger" asp-validation-for="availablecopiesnum"></span>
    </div>
    <br />

    <button class="btn btn-primary" type="submit">Add</button>

</form>
