@model Library_CaseStudy_MVC.Models.Book

<form asp-action="Edit" method="post">
    <input asp-for="boodid" type="hidden" />
    <div class="form-control">
        <label>Title</label>
        <input class="form-control" asp-for="title" />
    </div>
    <br />
    <div class="form-control">
        <label>Author</label>
        <input class="form-control" asp-for="author" />
    </div>
    <br />
    <div class="form-control">
        <label>AilableCopies</label>
        <input class="form-control" asp-for="availablecopiesnum" />
    </div>
    <br />

    <button class="btn btn-primary" type="submit">Add</button>

</form>

